<h1>Assignment 2 - Breakpoints + Helper</h1> 

<p>
    <h2>adder-helper</h2>

    numArray = [1,2,3,4,5,6,7,8,9,10] results to <b>{{adder-helper numArray}}</b><br>

    errorArray = [1,2, 'this should cause an error', 3, 4, 'this too', 5] results to  <b>{{adder-helper errorArray}}</b>
</p>

<p>
    <h2>EQ Helper and GTE Helper</h2>
    
    <h4>num1 = 2<br>
    num2 = 2<br>
    num3 = 3<br>
    num4 = 4</h4>


    True Condition where numbers are equal (num1 and num2). EQ Helper returns:  <b>{{eq num1 num2}} </b><br>
    False Condition where numbers are not equal (num2 and num3). EQ Helper returns: <b>{{eq num3 num4}}</b><br><br>

    Result for num4 >= num1 using GTE Helper: <b>{{gte num4 num1 }}</b><br>
    Result for num2 >= num1 using GTE Helper: <b>{{gte num2 num1 }}</b><br>
    Result for num2 >= num4 using GTE Helper: <b>{{gte num2 num4 }}</b><br>
</p>



